/* Загальні стилі для всіх таблиць */
table {
    border-collapse: collapse;
    margin: 0 auto;
}

/* Загальні стилі для всіх комірок таблиць */
td {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    height: 50px;
}

/* Стилі для таблиці 1 */
table {
    width: 75%;
}

/* Клас для об'єднання комірок 1-4-7 */
.merege-1-4-7 {
    height: 100px;
    width: 45%
}

/* Клас для об'єднання комірок 5-6 */
.cell-5-6 {
    height: 300px;
}

/* Стилі для таблиці 2 (Головна таблиця) */
.parent-table {
    width: 80%;
}

/* Ширина колонок для таблиці 2 */
.w-3 {
    width: 60%;
}

.w-4 {
    width: 28%;
}

/* Висота комірки для таблиці 2 */
.h-7 {
    height: 100px;
}

/* Стилі для вкладеної таблиці */
.child-table {
    width: 100%;
    border-collapse: collapse;
}

/* Ширина колонок для вкладеної таблиці */
.w-child {
    width: 33.33%;
}

/* Висота для комірки 1 */
.h-1 {
    height: 100px;
}

/* Висота для комірки 4-7 */
.h-4-7 {
    height: 150px;
}

/* Висота для комірки 2-5-8 */
.h-2-5-8 {
    height: 220px;
}

/* Висота для комірки 3-6 */
.h-3-6 {
    height: 20%;
}

/* Висота для комірки 9 */
.h-9 {
    min-height: 150px;
}

/* Відступ для комірки, що містить вкладену таблицю */
.child-table-cell {
    padding: 35px;
}
